<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pics.sift.app">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="pics.sift.app.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="pics.sift.app.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="pics.sift.app.Application">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name="pics.sift.app.AlbumsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pics.sift.app.AlbumActivity"
            android:label="@string/album_title"
            android:parentActivityName="pics.sift.app.AlbumsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pics.sift.app.AlbumsActivity" />
        </activity>
        <activity
            android:name="pics.sift.app.ProfileActivity"
            android:label="@string/profile_title" >
        </activity>
        <activity
            android:name="pics.sift.app.FavoritesActivity"
            android:label="@string/favorites_title">
        </activity>
        <service
            android:name="pics.sift.app.WebService">
        </service>
        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@style/AppDialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />
        <receiver android:name=".GCMReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="pics.sift.app" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
